<phpunit colors="false" backupGlobals="false" backupStaticAttributes="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnError="fals
e" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" syntaxCheck="false" verbose="true" strict="false">

	<testsuite name="Default">
		<directory>tests</directory>	
	</testsuite>

	<filter>
            <whitelist addUncoveredFilesFromWhitelist="true">
                <directory suffix=".php">src</directory>
                <exclude>
                    <directory suffix=".php">tests/</directory>
                </exclude>
    	    </whitelist>
    </filter>
</phpunit>